{% extends 'base.html.twig' %}
{% block body %}
<h1>BIENVENUE SUR LE SITE DE VENTE AUX ENCHERES EN LIGNE</h1>

<div class="accueil">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Pariatur quas atque doloremque accusantium necessitatibus magnam modi quod dolor,
  fugiat eligendi. Inventore, ex neque impedit molestias laborum enim quod minima ut
   explicabo optio reprehenderit quos id vel. Nostrum assumenda facere veniam.</p>
<p>Minus dolorem nam laborum ab consectetur doloribus cupiditate, expedita unde
 ipsam eveniet exercitationem adipisci magni distinctio, quam dolores quia minima
  sequi culpa mollitia consequuntur sint quasi voluptatem inventore voluptatibus?
   Voluptate inventore voluptatum veritatis reprehenderit doloribus deserunt, soluta ut animi rem?</p>
   <p>Minus dolorem nam laborum ab consectetur doloribus cupiditate, expedita unde
 ipsam eveniet exercitationem adipisci magni distinctio, quam dolores quia minima
  sequi culpa mollitia consequuntur sint quasi voluptatem inventore voluptatibus?
   Voluptate inventore voluptatum veritatis reprehenderit doloribus deserunt, soluta ut animi rem?</p>
   <p>Minus dolorem nam laborum ab consectetur doloribus cupiditate, expedita unde
 ipsam eveniet exercitationem adipisci magni distinctio, quam dolores quia minima
  sequi culpa mollitia consequuntur sint quasi voluptatem inventore voluptatibus?
   Voluptate inventore voluptatum veritatis reprehenderit doloribus deserunt, soluta ut animi rem?</p>
</div>

  	<a href="{{ path('security_registration') }}"  class="btn btn-primary">Inscrivez-vous ou connectez-vous</a>


{% endblock %}